[submodule "pygan/models/Styleformer"]
	path = pygan/models/Styleformer
	url = https://github.com/hugobb/Styleformer
[submodule "pygan/models/FastGAN"]
	path = pygan/models/FastGAN
	url = https://github.com/hugobb/FastGAN-pytorch
